body {
    margin: 0px;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    padding:0;
    margin:0;
}

ul {
    list-style-type: none;
}

.section-1 {
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0px 325px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top:20px;
}

.logo {
}

.logo a {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.body-1 {
    padding: 125px 0px;
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.hero-main-text {
    text-wrap: wrap;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.first-box {
    min-width: 450px;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 6px;
}

button {
    width: fit-content;
    border-color: #3882f6;
    color: #f9faf8;
    font-size: large;
    font-weight: 700;
    padding: 8px 32px;
    background-color: #3882f6;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}

.second-box {
    min-width: 525px;
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;
    width:525px;
    height:auto;
}

.second-box div {
    color: #e5e7eb;
}

.content2 {
    display: flex;
    justify-content: center;
    gap:50px;
    margin-bottom: 150px;
}

.info {
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
    padding:50px;
}

.material {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box {
    border:solid #3882f6 4px;
    height:175px;
    width: 175px;
    border-radius: 15px;
}

.text {
    color:grey;
    max-width: 183px;
    text-align: center;
    font-size: 18px;
}

.section3 {

}

.content3 {
    background-color: #e5e7eb;
    padding: 175px 450px;
}

.quote {
    text-align: start;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.author {
    font-size: 24px;
    font-weight: bold;
}

.author div {
    display:flex;
    justify-content: end;
}